body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    text-decoration: none;
     color: #6a0dad;
    padding: 10px 15px;
     background-color: #e6e6fa;
    border-radius: 25px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #d8bfd8 ;
}

#map {
    height: calc(100vh - 80px); /*  make full screen minus nav barand footer */
    width: 100%;
    
     margin: 0;
    padding: 0 ;
}

footer {
    text-align: center;
     padding: 20px;

    background-color: #6a0dad;
    color: white;
    position: fixed;
    bottom: 0;
     width: 100%;
}

.popup-content img {
    display: inline-block;
     width: 100px;
    margin: 5px;
     border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) ;
}
